bungeni.main/branches/oauth/bungeni/capi/_schema/generated/workflow.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Bungeni Parliamentary Information System - http://www.bungeni.org/
  Copyright (C) 2010 - Africa i-Parliaments - http://www.parliaments.info/
  Licensed under GNU GPL v2 - http://www.gnu.org/licenses/gpl-2.0.txt
  
  RNC Schema for Bungeni Workflow XML Format
  Created: Mario Ruggier, 22-nov-2012
  
  Note: Always modify the RNC file - the RNG version is auto-derived from it:
  one way to auto-derive workflow.rng from this file is:
    java -jar trang.jar -I rnc -O rng workflow.rnc generated/workflow.rng
  
  $Id$
-->
<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <include href="common.rng"/>
  <start>
    <ref name="WORKFLOW"/>
  </start>
  <define name="WORKFLOW">
    <element name="workflow">
      <attribute name="title"/>
      <!-- i18n msgid -->
      <attribute name="description"/>
      <optional>
        <!-- i18n msgid -->
        <attribute name="tags">
          <ref name="SPACE_SEPARATED_SYMBOLS"/>
        </attribute>
      </optional>
      <optional>
        <!-- declare any (system-defined) tags used in workflow -->
        <attribute name="note"/>
      </optional>
      <optional>
        <attribute name="permission_actions">
          <ref name="SPACE_SEPARATED_TOKENS"/>
        </attribute>
      </optional>
      <zeroOrMore>
        <!--
          type-relative permission actions
          i.e. each included action allowed to be in the form [type_key].{Action}, 
          with the optional type_key defaulting to the type_key of the type 
          "owning" this workflow.
        -->
        <ref name="ALLOW"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="FEATURE"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="FACET"/>
      </zeroOrMore>
      <oneOrMore>
        <ref name="STATE"/>
      </oneOrMore>
      <oneOrMore>
        <ref name="TRANSITION"/>
      </oneOrMore>
    </element>
  </define>
  <define name="ALLOW">
    <element name="allow">
      <attribute name="permission"/>
      <attribute name="roles">
        <ref name="SPACE_SEPARATED_TOKENS"/>
      </attribute>
      <optional>
        <attribute name="note"/>
      </optional>
    </element>
  </define>
  <define name="FEATURE">
    <element name="feature">
      <attribute name="name">
        <ref name="SYMBOL_NAME"/>
      </attribute>
      <attribute name="enabled">
        <data type="boolean"/>
      </attribute>
      <optional>
        <attribute name="note"/>
      </optional>
      <zeroOrMore>
        <element name="parameter">
          <!-- !+ name by feature -->
          <attribute name="name">
            <ref name="SYMBOL_NAME"/>
          </attribute>
          <!-- !+ unique name per feature -->
          <attribute name="value"/>
        </element>
      </zeroOrMore>
    </element>
  </define>
  <define name="FACET">
    <element name="facet">
      <attribute name="name">
        <ref name="SYMBOL_NAME"/>
      </attribute>
      <optional>
        <attribute name="default">
          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>
        <!-- default:false, may be true only once -->
        <attribute name="note"/>
      </optional>
      <zeroOrMore>
        <ref name="ALLOW"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="STATE">
    <element name="state">
      <attribute name="id">
        <ref name="SYMBOL_NAME"/>
      </attribute>
      <attribute name="title"/>
      <optional>
        <!-- i18n msgid -->
        <attribute name="actions">
          <ref name="SPACE_SEPARATED_SYMBOLS"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="tags">
          <ref name="SPACE_SEPARATED_SYMBOLS"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="note"/>
      </optional>
      <optional>
        <attribute name="obsolete">
          <data type="boolean"/>
        </attribute>
      </optional>
      <!-- default:false -->
      <!-- if (permissions_from state | permissions_from_parent) -> then NO facets -->
      <choice>
        <optional>
          <!-- may have EITHER permissions_from_state OR permissions_from_parent -->
          <choice>
            <attribute name="permissions_from_state">
              <ref name="SYMBOL_NAME"/>
            </attribute>
            <!-- state.id -->
            <attribute name="permissions_from_parent">
              <data type="boolean"/>
            </attribute>
          </choice>
          <!-- default:false -->
        </optional>
        <zeroOrMore>
          <element name="facet">
            <attribute name="ref">
              <data type="token" datatypeLibrary=""/>
            </attribute>
            <!-- [ {workflow_feature.@name} ].{facet.@name} -->
          </element>
        </zeroOrMore>
      </choice>
    </element>
  </define>
  <define name="TRANSITION">
    <element name="transition">
      <attribute name="title"/>
      <!-- i18n msgid -->
      <attribute name="source">
        <choice>
          <ref name="SPACE_SEPARATED_SYMBOLS"/>
          <empty/>
        </choice>
      </attribute>
      <!-- space separated list of state ids -->
      <attribute name="destination">
        <ref name="SYMBOL_NAME"/>
      </attribute>
      <optional>
        <!-- state.id -->
        <attribute name="grouping_unique_sources">
          <data type="token" datatypeLibrary=""/>
        </attribute>
      </optional>
      <optional>
        <!-- a transition grouping id -->
        <attribute name="condition">
          <choice>
            <ref name="SYMBOL_NAME"/>
            <empty/>
          </choice>
        </attribute>
      </optional>
      <!-- callable -->
      <choice>
        <attribute name="trigger">
          <value>automatic</value>
        </attribute>
        <group>
          <attribute name="trigger">
            <choice>
              <value>system</value>
              <value>manual</value>
            </choice>
          </attribute>
          <optional>
            <attribute name="roles">
              <ref name="SPACE_SEPARATED_TOKENS"/>
            </attribute>
          </optional>
        </group>
      </choice>
      <optional>
        <attribute name="order">
          <data type="integer"/>
        </attribute>
      </optional>
      <optional>
        <!-- default:0 -->
        <attribute name="require_confirmation">
          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>
        <!-- default:false -->
        <attribute name="note"/>
      </optional>
    </element>
  </define>
</grammar>
