bungeni.main/trunk/bungeni/capi/_schema/generated/common.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Bungeni Parliamentary Information System - http://www.bungeni.org/
  Copyright (C) 2010 - Africa i-Parliaments - http://www.parliaments.info/
  Licensed under GNU GPL v2 - http://www.gnu.org/licenses/gpl-2.0.txt
  
  RNC Schema Common for Bungeni XML Formats
  Created: Mario Ruggier, 30-nov-2012
  
  Note: Always modify the RNC file - the RNG version is auto-derived from it:
  one way to auto-derive workflow.rng from this file is:
    java -jar trang.jar -I rnc -O rng common.rnc generated/common.rng
  
  $Id$
-->
<!-- declare the local namespace, its blank -->
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <!-- a space-separated string value !+pattern for un/qualified permission_actions, roles -->
  <define name="SPACE_SEPARATED_TOKENS">
    <list>
      <oneOrMore>
        <data type="token" datatypeLibrary=""/>
      </oneOrMore>
    </list>
  </define>
  <!-- a space-separated VALID SYMBOLs value (may not be empty string) -->
  <define name="SPACE_SEPARATED_SYMBOLS">
    <list>
      <oneOrMore>
        <ref name="SYMBOL_NAME"/>
      </oneOrMore>
    </list>
  </define>
  <!--
    a valid programming language symbol name e.g. in python this means must 
    start a with letter or "_" char, followed with zero or more of letters, 
    numbers and "_" chars (i.e. no whitespace or "-" or "." etc).
  -->
  <define name="SYMBOL_NAME">
    <data type="string">
      <param name="pattern">[a-zA-Z_][\w_]*</param>
    </data>
  </define>
  <!--
    allow foreign attributes from foreign namespaces, 
    do not allow in the local namespace
    foreign attributes are used by the config editor
  -->
  <define name="FOREIGN_NS_ATTRS">
    <zeroOrMore>
      <attribute>
        <anyName>
          <except>
            <nsName/>
          </except>
        </anyName>
        <data type="string" datatypeLibrary=""/>
      </attribute>
    </zeroOrMore>
  </define>
</grammar>
