bungeni.main/trunk/bungeni/capi/_schema/generated/roles.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Bungeni Parliamentary Information System - http://www.bungeni.org/
  Copyright (C) 2010 - Africa i-Parliaments - http://www.parliaments.info/
  Licensed under GNU GPL v2 - http://www.gnu.org/licenses/gpl-2.0.txt
  
  RNC Schema for Bungeni Workflow XML Format
  Created: Miano Njoka, 22-feb-2013
  
  Note: Always modify the RNC file - the RNG version is auto-derived from it:
  one way to auto-derive workflow.rng from this file is:
    java -jar trang.jar -I rnc -O rng workflow.rnc generated/workflow.rng
  $Id$
-->
<grammar xmlns="http://relaxng.org/ns/structure/1.0">
  <start>
    <ref name="ROLES"/>
  </start>
  <define name="ROLES">
    <element name="roles">
      <optional>
        <attribute name="note"/>
      </optional>
      <oneOrMore>
        <ref name="ROLE"/>
      </oneOrMore>
    </element>
  </define>
  <define name="ROLE">
    <element name="role">
      <attribute name="id"/>
      <attribute name="title"/>
      <optional>
        <attribute name="note"/>
      </optional>
      <zeroOrMore>
        <ref name="SUBROLE"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="SUBROLE">
    <element name="subrole">
      <attribute name="id"/>
      <attribute name="title"/>
      <optional>
        <attribute name="note"/>
      </optional>
    </element>
  </define>
</grammar>
