bungeni.main/branches/exist_search/trunk/bungeni/capi/_schema/generated/notifications.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Bungeni Parliamentary Information System - http://www.bungeni.org/
  Copyright (C) 2010 - Africa i-Parliaments - http://www.parliaments.info/
  Licensed under GNU GPL v2 - http://www.gnu.org/licenses/gpl-2.0.txt
  
  RNC Schema for Bungeni notifications XML Format
  Created: Miano Njoka, 22-feb-2013
  
  Note: Always modify the RNC file - the RNG version is auto-derived from it:
  one way to auto-derive workflow.rng from this file is:
    java -jar trang.jar -I rnc -O rng worknotifications.rnc generated/notifications.rng
  $Id$
-->
<grammar xmlns="http://relaxng.org/ns/structure/1.0">
  <include href="common.rng"/>
  <start>
    <ref name="NOTIFICATIONS"/>
  </start>
  <define name="NOTIFICATIONS">
    <element name="notifications">
      <zeroOrMore>
        <ref name="NOTIFY"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="NOTIFY">
    <element name="notify">
      <attribute name="roles">
        <ref name="SPACE_SEPARATED_TOKENS"/>
      </attribute>
      <choice>
        <attribute name="onstate">
          <ref name="SPACE_SEPARATED_TOKENS"/>
        </attribute>
        <group>
          <attribute name="afterstate">
            <ref name="SPACE_SEPARATED_TOKENS"/>
          </attribute>
          <attribute name="time"/>
        </group>
      </choice>
    </element>
  </define>
</grammar>
